body {
  margin: 0;
  padding: 0;
}
.home-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  font-family: 'Bree Serif';
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .home-bg {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  }
}
.main-logo {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}
.logo-container {
  display: flex;
  align-items: center;
}
.list-container {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
